<table>
  <thead>
    <tr class="table-header">
      <th class="first-column-cell">Player Name</th>
      <th>Score</th>
      <th>View Breakdown</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of allScores">
      <td class="first-column-cell">{{ row.playerName }}</td>
      <td>{{ row.playerScore }}</td>
      <td>
        <a
          routerLink="/score-breakdown/{{ row.playerId }}"
          ariaCurrentWhenActive="page"
        >
          View</a
        >
      </td>
    </tr>
  </tbody>
</table>
