<div class="app-header">
  <nav class="menu">
    <input
      type="checkbox"
      href="#"
      class="menu-open"
      name="menu-open"
      id="menu-open"
      [(ngModel)]="isChecked"
      (click)="logResults()"
    />
    <label class="menu-open-button" for="menu-open">
      <span class="hamburger hamburger-1"></span>
      <span class="hamburger hamburger-2"></span>
      <span class="hamburger hamburger-3"></span>
    </label>
  </nav>
  <a
    class="app-title"
    routerLink=""
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    Travel Contest
  </a>
</div>
