<table>
  <thead>
    <tr class="table-header">
      <th class="first-column-cell">Destination</th>
      <th>Duration (days)</th>
      <th>Points per day</th>
      <th>Trip Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="first-column-cell">San Paulo, Br</td>
      <td>14</td>
      <td>75</td>
      <td>1050</td>
    </tr>
    <tr>
      <td class="first-column-cell">San Paulo, Br</td>
      <td>14</td>
      <td>75</td>
      <td>1050</td>
    </tr>
    <tr>
      <td class="first-column-cell">San Paulo, Br</td>
      <td>14</td>
      <td>75</td>
      <td>1050</td>
    </tr>
    <tr>
      <td class="first-column-cell">San Paulo, Br</td>
      <td>14</td>
      <td>75</td>
      <td>1050</td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="player-total-row">
      <td>Player Score Total</td>
      <td>4200</td>
    </tr>
  </tfoot>
</table>
