<table>
  <thead>
    <tr class="table-header">
      <th class="first-column-cell">Destination</th>
      <th>Duration (days)</th>
      <th>Points per day</th>
      <th>Trip Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let score of scoreBreakdowns">
      <td class="first-column-cell">{{ score.destination }}</td>
      <td>{{ score.pointsPerDay }}</td>
      <td>{{ score.duration }}</td>
      <td>{{ score.tripTotal }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="player-total-row">
      <td>Player Score Total</td>
      <td>793</td>
    </tr>
  </tfoot>
</table>
